@import "colors";
@import "media_queries";

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;

  &__logo {
    color: $dark;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
    @extend %align-center;
    font-weight: 600;
  }

  &__bars {
    opacity: 0;

    @include mobile {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }
  }

  &__menu {
    @extend %align-center;
    list-style-type: none;
    font-weight: 700;
    text-align: center;
    margin-right: 24px;
    @include mobile {
      display: none;
    }
    &--links {
      color: $dark;
      @extend %align-center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;

      &:hover {
        color: $dark;
        margin-bottom: 2px;
        // transition: all 0.3s ease;
        border-bottom: 2px solid $lime;
      }
    }
    #search {
      outline: 0;
      border-width: 0 0 2px;
      border-color: $dark;
    }
  }
}
