@import "navbar";
@import "lobby";
@import "school";
@import "networking";
@import "colors";
@import "login";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

// Hero Section CSS

.hero {
  .hero__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    .hero__container--left {
      .hero__container--img {
        background-repeat: no-repeat;
        background-position: left;
        height: 100vh;
      }
    }

    .hero__container--right {
      background-color: $lime;
      height: 100vh;
      .hero__right-side {
        position: absolute;
        top: 50%;
        left: 50%;
        .hero__right-side-h1 {
          font-size: 45px;
          margin-top: -140px;
          margin-left: 231px;
          transform: translateX(50%) translateY(50%) rotate(90deg);
        }
      }
    }
    .hero__line {
      width: 40px;
      height: 0px;
      border-bottom: 2px solid #fff;
      position: absolute;
    }
    .hero__welcome-color {
      color: #fff;
    }
  }
}
